*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* this is for the nav bar */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(180, 9, 180);
} 

.logo{
    color:whitesmoke;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-size:20px;
    cursor:pointer;
}

.navlinks{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navlinks a{
    color:whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
}
.navlinks li{
    list-style: none;
    color: white;
}
.hamburger{
    display:none;
    cursor: pointer;
}
.hamburger div{
    width:25px;
    height:3px;
    background-color:whitesmoke;
    margin:5px;
    transition: all 0.5s ease;
}


@media screen and (max-width: 1024px){
    .navlinks{
        width:40%;
    }
}

@media screen and (max-width: 760px)
{
    body{
        overflow-x:hidden;   
    }
    .navlinks{
        position:absolute;  height:92vh;
        width:100%;
        /*to kep the nav bar on the right and full page*/
        right:0px;
        /* to make the nav list height relative to the nav bar height*/
        top:8vh;
        background-color:purple;
        display:flex;
        /* puts the elements in the page in columns */
        flex-direction: column;
        /* puts the elements in the center */
        align-items: center;
        width:50%;
        transform:translateX(100%);
        transition: transform 0.2s ease-in;
    }
    .navlinks li{
        /* opacity: 0;   */
    }
    .hamburger{
        display:block;
    }
}
    .nav-active{
        transform: translateX(0%);
    }

@keyframes navLinkFade{
        from{
            opacity: 0;
            transform:translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

.toggle .line1{
    transform: rotate(-45deg )translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(+45deg )translate(-5px,-6px);

}

.headpage{
    width:100%; 
    background:rgb(73, 27, 158); 
    background-size:cover;
    padding-left:5%;
    padding-right: 5%; 
    padding-top:20%;
    box-sizing: border-box ;

}

.headpage h1{

    font-size:100px;
    margin-top:24px;
    margin-left: 60px;

    color: rgba(253, 177, 247, 0.993);
}
.about{

    height:300px;
    padding-top: 20px;
    background:purple;
}
.about h1{
    transform:rotate(-90deg);
    position :absolute;

    left:-20px;
    bottom:-30px;
    color: rgba(253, 177, 247, 0.993);
}
.about p{
    font-size:20px;
    margin-left: 100px;
    margin-top: 24px; 
    margin-bottom: 15px;
    color: rgba(253, 177, 247, 0.993);
}

.skill{
    height:300px;

    background:rgb(43, 154, 209);
}
.skill h1{
    transform:rotate(-90deg);
    position :absolute;
    left:-70px;
    padding-right:200px;
    color:  rgba(253, 177, 247, 0.993);
}

.skill p{
    font-size:20px;
    margin-left: 100px;
    padding-top: 60px; 
    margin-bottom: 15px;
    color: rgba(253, 177, 247, 0.993);
}
.skill ul{
    font-size:20px;
    margin-left: 140px;
    padding-top: 0px; 
    margin-bottom: 15px;
    color: rgba(253, 177, 247, 0.993);
}

.projects{
    height:300px;
    background:#587edf;
}
.projects h1{
    transform:rotate(-90deg);
    position :absolute;
    left:-90px;
    padding-right:200px;
    color: rgba(253, 177, 247, 0.993);
}
.projects p{
    font-size:20px;
    margin-left: 100px;
    padding-top: 60px; 
    margin-bottom: 15px;
    color: rgba(253, 177, 247, 0.993);
}
.projects ul{
    font-size:20px;
    margin-left: 140px;
    padding-top: 0px; 
    margin-bottom: 15px;
    color: rgba(253, 177, 247, 0.993);
}

    .projects li a{

        text-decoration: none;
        letter-spacing: 3px;
        color: rgba(253, 177, 247, 0.993);
    }


footer{
    background:rgb(77, 5, 77);
    color:rgba(253, 177, 247, 0.993);
    text-align:center;
    /* height:18vh; */
    padding-top:30px;
}
